<div class="article-header">
  <div class="d-flex w-100 align-items-center justify-content-between gap-3">
    <div class="breadcrumb-wrapper">
      <span>Articles</span>
      <img src="images/icons/chevron-down.png" />
      <span>Templates</span>
      <img src="images/icons/chevron-down.png" />
      <span>Templates for CBD</span>
    </div>

    <select class="form-select">
      <option selected>Select language</option>
      <option value="1">English</option>
    </select>
  </div>

  <div class="actions">
    <img src="images/icons/setting.png" />
    <button class="btn btn-dark">Save Template</button>
  </div>
</div>

<div class="article-wrapper">
  <div class="article-content">
    <div class="tabs">
      <button class="active">Article Title</button>
      <button>Description</button>
      <button>Alt Text</button>
    </div>

    <h4>Article Title</h4>

    <div class="article-prompts">
      <div class="item">
        <span class="title">Main Topic</span>
        <span class="value">
          <input
            class="form-control"
            placeholder="Use Main Topic from the main title prompt"
          />
        </span>
      </div>
      <div class="item">
        <span class="title">Primary Keywords</span>
        <span class="value">
          <input
            class="form-control"
            placeholder="Use Primary Keywords from the main title prompt and SEO section"
          />
        </span>
      </div>
      <div class="item">
        <span class="title">SEO Rules</span>
        <span class="value">
          <input
            class="form-control"
            placeholder="Title should contain at least 3 - 4 keywords from SEO section"
          />
        </span>
      </div>
      <div class="item">
        <span class="title">Characters Limit</span>
        <span class="value">
          <input class="form-control" placeholder="60 - 80 characters" />
        </span>
      </div>
      <div class="item">
        <span class="title">Tone and Style</span>
        <span class="value">
          <input class="form-control" placeholder="Formal, Lifestyle" />
        </span>
      </div>
      <div class="item">
        <span class="title">Power Words</span>
        <span class="value">
          <input
            class="form-control"
            placeholder="“Top”, “Best”, “Guide”, “Tips”, “Trends”, “How to”"
          />
        </span>
      </div>
      <div class="item">
        <span class="title">Examples of Perfect Titles</span>
        <span class="value">
          <textarea
            class="form-control"
            rows="7"
            placeholder="Smart Investing Strategies for 2024: Expert Tips Top Investment Tips for Building Wealth Financial Planning 101: Smart Investing Strategies Top Travel Destinations 2024: Must-Visit Places Best Places to Visit in 2024: Your Travel Guide Discover the Top Holiday Destinations for 2024 Top AI Trends Shaping the Future of Technology AI Trends 2024: Innovations to Watch Exploring the Latest AI Technology Trends and Applications"
          ></textarea>
        </span>
      </div>
    </div>
  </div>

  <div class="article-metadata">
    <div class="info-wrapper">
      <div class="item">
        <span class="title">Template Name</span>
        <span class="value">
          <input class="form-control" placeholder="Template Name" />
        </span>
      </div>

      <div class="item">
        <span class="title">Status</span>
        <span class="value">
          <select class="form-select status">
            <option value="1">In progress</option>
          </select>
        </span>
      </div>

      <div class="item">
        <span class="title">Created Date</span>
        <span class="value">27 Aug, 2024</span>
      </div>
    </div>

    <div class="product-wrapper">
      <div class="topic">
        <div class="article-title">
          <label>Specify the Topic</label>
          <textarea
            row="1"
            class="form-control fixed-height"
            placeholder="Clearly state the main subject of the article"
          ></textarea>
        </div>
      </div>

      <div class="topic">
        <div class="article-title">
          <label>Define the Purpose</label>
          <textarea
            row="1"
            class="form-control fixed-height"
            placeholder="e.g., informative, persuasive, analytical"
          ></textarea>
        </div>
      </div>

      <div class="topic">
        <div class="article-title">
          <label>Audience</label>
          <textarea
            row="1"
            class="form-control fixed-height"
            placeholder="Identify the target audience"
          ></textarea>
        </div>
      </div>

      <div class="topic">
        <div class="article-title">
          <label>Tone and Style</label>
          <textarea
            row="1"
            class="form-control fixed-height"
            placeholder="Identify the target audience"
          ></textarea>
        </div>
      </div>

      <div class="topic">
        <div class="article-title">
          <label>Additional Requirements</label>
          <textarea
            row="1"
            class="form-control fixed-height"
            placeholder="Identify the target audience"
          ></textarea>
        </div>
      </div>

      <div class="topic">
        <div class="article-title">
          <label>SEO Requirements</label>
          <textarea
            row="1"
            class="form-control fixed-height"
            placeholder="Identify the target audience"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
