<div
  class="main-wrapper"
  *ngIf="!!form"
  [formGroup]="form"
  [ngClass]="{ 'show-errors': showErrors }"
>
  <div class="article-header">
    <div class="d-flex w-100 align-items-center justify-content-between gap-3">
      <div class="breadcrumb-wrapper">
        <span>Articles</span>
        <img src="images/icons/chevron-down.png" />
        <span>Templates</span>
        <img src="images/icons/chevron-down.png" />
        <span>{{ navLabel }}</span>
      </div>
    </div>

    <div class="actions">
      <button
        (click)="onSaveTemplate()"
        class="btn btn-dark"
        [ngClass]="{ loading: isSaving }"
      >
        <span>Save Template</span>
        <app-loading class="light" />
      </button>
    </div>
  </div>

  <div class="article-wrapper">
    <div class="article-content">
      <h4 class="mt-2">
        {{ tabTitle }}
      </h4>

      <div class="tabs mb-3">
        <button
          (click)="openTab(1)"
          [ngClass]="{
            active: activeSubTab === 1,
            invalid: showErrors && !isValidTab(null),
          }"
        >
          {{ activeTab === 4 ? "Meta Title" : "Article Title" }}
        </button>
        <button
          (click)="openTab(2)"
          [ngClass]="{
            active: activeSubTab === 2,
            invalid: showErrors && !isValidTab(null),
          }"
        >
          {{ activeTab === 4 ? "Meta Description" : "Description" }}
        </button>
        <button
          (click)="openTab(3)"
          [ngClass]="{
            active: activeSubTab === 3,
            invalid: showErrors && !isValidTab(null),
          }"
        >
          {{ activeTab === 4 ? "Meta Keywords" : "Alt Text" }}
        </button>
      </div>

      <div class="article-prompts tabs-wrapper">
        @if (activeTab === 1) {
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 1 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.general_group?.controls
                      ?.general_article_group,
                }
              "
            ></ng-container>
          </div>
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 2 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.general_group?.controls
                      ?.general_description_group,
                }
              "
            ></ng-container>
          </div>
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 3 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.general_group?.controls
                      ?.general_alt_text_group,
                }
              "
            ></ng-container>
          </div>
        }

        @if (activeTab === 2) {
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 1 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.product_group?.controls
                      ?.product_article_group,
                }
              "
            ></ng-container>
          </div>
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 2 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.product_group?.controls
                      ?.product_description_group,
                }
              "
            ></ng-container>
          </div>
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 3 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.product_group?.controls
                      ?.product_alt_text_group,
                }
              "
            ></ng-container>
          </div>
        }

        @if (activeTab === 4) {
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 1 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.seo_group?.controls?.seo_title_group,
                }
              "
            ></ng-container>
          </div>
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 2 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.seo_group?.controls?.seo_description_group,
                }
              "
            ></ng-container>
          </div>
          <div class="tab-item" [ngClass]="{ visible: activeSubTab === 3 }">
            <ng-container
              *ngTemplateOutlet="
                groupForm;
                context: {
                  formGroup:
                    form?.controls?.seo_group?.controls?.seo_keywords_group,
                }
              "
            ></ng-container>
          </div>
        }
      </div>
    </div>

    <div class="article-metadata">
      <div class="info-wrapper">
        <div class="item">
          <span class="title">Template Name</span>
          <span class="value">
            <input
              [formControlName]="'template_name'"
              class="form-control"
              placeholder="Template Name"
            />
          </span>
        </div>

        <div class="item">
          <span class="title">Status</span>
          <span class="value">
            <select [formControlName]="'status'" class="form-select status">
              <option value="1">In progress</option>
            </select>
          </span>
        </div>

        <div class="item">
          <span class="title">Created Date</span>
          <span class="value">27 Aug, 2024</span>
        </div>
      </div>

      <div class="product-wrapper">
        <div class="topic">
          <div class="article-title">
            <label>Define the Purpose</label>
            <textarea
              row="1"
              [formControlName]="'define_purpose'"
              class="form-control fixed-height"
              placeholder="e.g., informative, persuasive, analytical"
            ></textarea>
          </div>
        </div>

        <div class="topic">
          <div class="article-title">
            <label>Audience</label>
            <textarea
              row="1"
              [formControlName]="'audience'"
              class="form-control fixed-height"
              placeholder="Identify the target audience"
            ></textarea>
          </div>
        </div>

        <div class="topic">
          <div class="article-title">
            <label>Tone and Style</label>
            <textarea
              row="1"
              [formControlName]="'tone_style'"
              class="form-control fixed-height"
              placeholder="Identify the target audience"
            ></textarea>
          </div>
        </div>

        <div class="topic">
          <div class="article-title">
            <label>Additional Requirements</label>
            <textarea
              row="1"
              [formControlName]="'additional_requirements'"
              class="form-control fixed-height"
              placeholder="Identify the target audience"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #groupForm let-group="formGroup">
  <ng-container [formGroup]="group">
    <div class="item">
      <span class="title">Main Topic</span>
      <span class="value">
        <input
          class="form-control"
          [formControlName]="'field_main_topic'"
          placeholder="Use Main Topic from the main title prompt"
        />
      </span>
    </div>
    <div class="item">
      <span class="title">Primary Keywords</span>
      <span class="value">
        <input
          class="form-control"
          [formControlName]="'field_primary_keywords'"
          placeholder="Use Primary Keywords from the main title prompt and SEO section"
        />
      </span>
    </div>
    <div class="item">
      <span class="title">SEO Rules</span>
      <span class="value">
        <input
          class="form-control"
          [formControlName]="'field_seo_rules'"
          placeholder="Title should contain at least 3 - 4 keywords from SEO section"
        />
      </span>
    </div>
    <div class="item">
      <span class="title">Characters Limit</span>
      <span class="value">
        <input
          class="form-control"
          [formControlName]="'field_characters_limit'"
          placeholder="60 - 80 characters"
        />
      </span>
    </div>
    <div class="item">
      <span class="title">Power Words</span>
      <span class="value">
        <input
          class="form-control"
          [formControlName]="'field_power_words'"
          placeholder="“Top”, “Best”, “Guide”, “Tips”, “Trends”, “How to”"
        />
      </span>
    </div>
    <div class="item">
      <span class="title">Examples of Perfect Titles</span>
      <span class="value">
        <textarea
          autoResize
          class="form-control"
          [formControlName]="'field_examples'"
          rows="7"
          placeholder="Smart Investing Strategies for 2024: Expert Tips Top Investment Tips for Building Wealth Financial Planning 101: Smart Investing Strategies Top Travel Destinations 2024: Must-Visit Places Best Places to Visit in 2024: Your Travel Guide Discover the Top Holiday Destinations for 2024 Top AI Trends Shaping the Future of Technology AI Trends 2024: Innovations to Watch Exploring the Latest AI Technology Trends and Applications"
        ></textarea>
      </span>
    </div>
  </ng-container>
</ng-template>
