.article-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;

    .form-select{
        width: 150px;
        outline: none;
        margin-right: 15px;
        font-size: 14px;

        &:focus,
        &:active{
            outline: none;
            box-shadow: none;
        }
    }

    .actions{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: 15px;
        padding: 10px 15px;
        width: 400px;
        border-left: 1px solid #DCDCDC;
    }
}

.article-wrapper{
    display: flex;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .tabs{
        display: flex;
        justify-content: space-between;
        padding: 3px;
        border-radius: 8px;
        background-color: #F2F2F2;

        button{
            width: 100%;
            background-color: #F2F2F2;
            border: none;
            font-size: 16px;
            border-radius: 8px;
            padding-block: 3px;

            &.active{
                background-color: #FFFFFF;
            }
        }
    }

    .article-content{
        height: calc(100vh - 85px);
        overflow-y: auto;
        width: calc(100% - 400px);
        border-right: 1px solid #DCDCDC;
        padding: 15px;

        .accordion{
            box-shadow: none;

            .accordion-button{
                font-size: 18px;
                padding-block: 0;
                box-shadow: none;
                background-color: transparent;

                img{
                    margin-right: 10px;
                    width: 22px;
                }
            }

            .accordion-header{
                margin-bottom: 0;
            }

            .accordion-body{
                background-color: #F2F2F2;
                padding: 10px;

                .fields-wrapper{
                    border: 1px solid #DCDCDC;
                    padding: 10px;
                    border-radius: 8px;
                    background-color: #FFFFFF;

                    .field{
                        position: relative;
                        border-bottom: 1px solid #DCDCDC;

                        &:last-child{
                            border-bottom: none;
                        }

                        textarea{
                            resize: none;
                            border: none;
                            outline: none;

                            &.fixed-height{
                                height: 34px;
                            }

                            &:focus,
                            &:active{
                                outline: none;
                                box-shadow: none;
                            }
                        }

                        img{
                            cursor: pointer;
                            opacity: 0;
                            width: 18px;
                            position: absolute;
                            right: 40px;
                            top: 10px;
                            transition: all 0.3s ease-in-out;

                            &:last-child{
                                right: 10px;
                            }

                            &:hover{
                                opacity: 0.7 !important;
                            }
                        }

                        &:hover img{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .article-metadata{
        width: 400px;
        height: calc(100vh - 85px);
        overflow-y: auto;
        padding-block: 15px;

        .tabs{
            margin-inline: 15px;
        }

        .info-wrapper,
        .article-title{
            padding-inline: 15px;
        }

        .info-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            font-size: 14px;
            margin-top: 25px;
            padding-bottom: 15px;

            .item{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title{
                    display: inline-flex;
                    width: 120px;
                    color: #5C5C5E;
                }
    
                .value{
                    select{
                        height: 32px;
                        padding-block: 0;
                        font-size: 14px;
                        line-height: 14px;
                    }

                    &.link{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-weight: 500;

                        img{
                            width: 15px;
                        }
                    }
                }
            }
        }

        .product-wrapper{
            .product-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                background: #F9F9F9;

                button{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    background: transparent;
                    outline: none;
                    border: none;
                    padding: 0;
                    color: #735FFF;

                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
}

::ng-deep{
    .article-title{
        padding-block: 15px;
        border-top: 1px solid #DCDCDC;
        border-bottom: 1px solid #DCDCDC;
        label{
            font-size: 14px;
            color: #000000;
            font-weight: 600;
        }

        textarea{
            outline: none;
            border: none;
            font-size: 14px;
            padding-inline: 0;
        }
    }
    
    .product{
        background: #FFFFFF;
        overflow: hidden;

        .article-title{
            position: relative;

            &:hover .actions{
                opacity: 1;
            }

            .actions{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                position: absolute;
                right: 10px;
                top: 10px;
                opacity: 0;

                img{
                    width: 18px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        opacity: 0.7;
                    }
                }
                
            }
        }
    }
}