:host{
  h6{
    font-size: 1.5rem;
  }
  
  .btn-close{
    outline: none;

    &:focus,
    &:active,
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

  app-loading{
    top: 16px;
  }
}