<div class="articles-navbar">
  <div class="logo-wrapper">
    <div class="d-flex align-items-center gap-2">
      <div class="workspace">
        <span>W</span>
      </div>
      <div class="d-flex align-items-center gap-1">
        <p>Wonderfeed</p>
        <img class="choose-workspace" src="images/icons/chevron-up-down.png" />
      </div>
    </div>

    <button>
      <img src="images/icons/edit-square.png" />
    </button>
  </div>

  <div class="nav-links">
    <div class="nav-group">
      <img class="icon" src="images/icons/file-text.png" />
      <span>Articles</span>
      <img class="chevron" src="images/icons/chevron-sm-solid.png" />
    </div>

    <ul>
      @for (item of categories; track $index) {
        <li class="active">
          <span>{{ item.name }}</span>
          <span class="counter">0</span>
          <img
            class="edit"
            (click)="updateCategory($event, item)"
            src="images/icons/edit.png"
          />
          <img
            class="delete"
            (click)="deleteCategory($event, item)"
            src="images/icons/trash.png"
          />
        </li>
      }
      <li (click)="createCategory()" class="add-btn">
        <span>+ Add Category</span>
      </li>
    </ul>

    <div class="nav-group">
      <img class="icon" src="images/icons/templates.png" />
      <span>Templates</span>
      <img class="chevron" src="images/icons/chevron-sm-solid.png" />
    </div>
  </div>
</div>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
