<div class="articles-navbar">
  <div class="logo-wrapper">
    <div class="d-flex align-items-center gap-2">
      <div class="workspace">
        <span>W</span>
      </div>
      <div class="d-flex align-items-center gap-1">
        <p>Wonderfeed</p>
        <img class="choose-workspace" src="images/icons/chevron-up-down.png" />
      </div>
    </div>

    <button (click)="onCreateArticle()">
      <img src="images/icons/edit-square.png" />
    </button>
  </div>

  <div class="nav-links">
    <div class="nav-group">
      <img class="icon" src="images/icons/file-text.png" />
      <span>Articles</span>
      <img class="chevron" src="images/icons/chevron-sm-solid.png" />
    </div>

    <ul>
      @for (item of dashboardService.categories; track $index) {
        <li
          (click)="openCategory(item)"
          [ngClass]="{ active: item.id === activeCategoryId }"
        >
          <span>{{ item.name }}</span>
          <span class="counter">{{ item.count }}</span>
          <img
            class="edit"
            (click)="updateCategory($event, item)"
            src="images/icons/edit.png"
          />
          <img
            class="delete"
            (click)="deleteCategory($event, item)"
            src="images/icons/trash.png"
          />
        </li>
      }
      <li (click)="createCategory()" class="add-btn">
        <span>+ Add Category</span>
      </li>
    </ul>

    <div class="nav-group">
      <img class="icon" src="images/icons/templates.png" />
      <span>Templates</span>
      <img class="chevron" src="images/icons/chevron-sm-solid.png" />
    </div>

    <ul>
      @for (item of dashboardService.templates; track $index) {
        <li
          [ngClass]="{ active: activeTemplateId === item.id }"
          (click)="updateTemplate($event, item)"
        >
          <span>{{ item.template_name }}</span>
          <img
            class="edit"
            (click)="deleteTemplate($event, item)"
            src="images/icons/trash.png"
          />
        </li>
        <ul>
          <li [ngClass]="{ active: activeTab === 1 }" (click)="openTab(1)">
            General Section
          </li>
          <li [ngClass]="{ active: activeTab === 2 }" (click)="openTab(2)">
            Product Section
          </li>
          <li [ngClass]="{ active: activeTab === 3 }" (click)="openTab(3)">
            Social Media
          </li>
          <li [ngClass]="{ active: activeTab === 4 }" (click)="openTab(4)">
            SEO Section
          </li>
        </ul>
      }
      <li
        [ngClass]="{ active: addNewTemplate }"
        (click)="createTemplate()"
        class="add-btn"
      >
        <span>+ Add Template</span>
      </li>
      <ul>
        <li [ngClass]="{ active: activeTab === 1 }" (click)="openTab(1)">
          General Section
        </li>
        <li [ngClass]="{ active: activeTab === 2 }" (click)="openTab(2)">
          Product Section
        </li>
        <li [ngClass]="{ active: activeTab === 3 }" (click)="openTab(3)">
          Social Media
        </li>
        <li [ngClass]="{ active: activeTab === 4 }" (click)="openTab(4)">
          SEO Section
        </li>
      </ul>
    </ul>
  </div>
</div>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
