.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: 1rem;

    img{
        width: 20px;
        height: 20px;
    }

    &.loading{
        pointer-events: none;

        span{
            opacity: 0;
        }

        app-loading{
            opacity: 1;
        }
    }

    span{
        transition: var(--transition);
    }

    app-loading{
        transition: var(--transition);
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}

.btn-dark{
    background: #000000;
    border: 1px solid #000000;
    
    &.radius{
        border-radius: 50px;
    }
}

.btn-default{
    border: 1px solid #E7E9ED;
    background-color: #FAFAFA;

    &:hover{
        background-color: #E7E9ED;
    }
}