<section class="filter-wrapper">
  <div class="breadcrumb-wrapper">
    <span>Articles</span>
    <img src="images/icons/chevron-down.png" />
    <span>{{ navLabel }}</span>
  </div>

  <div class="actions">
    <div class="search-control">
      <img src="images/icons/search.png" />
      <input class="form-control" placeholder="Search article" />
    </div>
  </div>
</section>

<section class="articles-wrapper">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Article Title</th>
        <th scope="col">Status</th>
        <th scope="col">Publication date</th>
        <th scope="col">Last edited</th>
        <th scope="col">Author</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (item of articles; track $index) {
        <tr>
          <td class="article-title">
            <div class="cursor-pointer" (click)="onEditArticle(item)">
              <img src="images/icons/article-title.png" />
              <span>
                {{ item.article_title1 }}
              </span>
            </div>
          </td>
          <td class="article-status">
            <div
              [ngClass]="{
                'in-progress': item.status === '1',
                published: item.status === '2',
                done: item.status >= '3',
              }"
            >
              <span>
                {{
                  item.status === "1"
                    ? "In Progress"
                    : item.status === "2"
                      ? "Published"
                      : "Done"
                }}
              </span>
              <img class="chevron" src="images/icons/chevron-down.png" />
            </div>
          </td>
          <td class="article-publish-date">
            <span>{{ item.publication_date | date: "MMMM dd, yyyy" }}</span>
          </td>
          <td class="article-creation-date">
            <div>
              <span>{{ item.last_edited | date: "MMMM dd, yyyy HH:mm" }}</span>
            </div>
          </td>
          <td class="article-author">
            <span>{{ item.author }}</span>
          </td>
          <td class="article-actions">
            <div ngbDropdown class="d-inline-block">
              <img
                class="more-icon"
                id="dropdownBasic_{{ $index }}"
                ngbDropdownToggle
                src="images/icons/more.png"
              />

              <div
                ngbDropdownMenu
                class="article-dropdown-menu"
                [attr.aria-labelledby]="'dropdownBasic_' + $index"
              >
                <button ngbDropdownItem (click)="onEditArticle(item)">
                  <img src="images/icons/edit.png" />
                  <span>Edit article</span>
                </button>

                <span class="border"></span>

                <button ngbDropdownItem (click)="onDuplicateArticle(item)">
                  <img src="images/icons/copy.png" />
                  <span>Duplicate article</span>
                </button>

                <span class="border"></span>

                <button ngbDropdownItem (click)="onDeleteArticle(item)">
                  <img src="images/icons/trash.png" />
                  <span>Delete article</span>
                </button>
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
